@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
        .button {
            background-color: rgba(223, 30, 30, 0.644);
            /* Green */
            border: white;
            color: white;
            width: 300px;
            padding: 20px;
            font-family: shadows into light;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 16px;
            /*margin: 4px 2px;*/
            margin-bottom: 4px;
            border-radius: 35%;
            cursor: pointer;
            margin: auto;
            border-radius: 25px;
            border: 2px solid white;
        }
        #play:hover {
            background: #db0505;
            color: rgb(101, 143, 191);
            -webkit-transform: rotate(-1deg);
            transform: rotate(-2deg);
        }
        #instructions:hover {
            background: #db0505;
            color: rgb(101, 143, 191);
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }
        #help:hover {
            background: #db0505;
            color: rgb(101, 143, 191);
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }

        #about:hover {
            background: #db0505;
            color: rgb(101, 143, 191);
            -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
        }
        .body {
            text-align: center;
            background-color: white;
            background-image: url('../img/background_hp.jpg');
            background-repeat: repeat;
            animation: scroll-background linear 5s infinite;
        }
        .bodyLevel
        {
         background-image: url('../img/background_Level2.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed; 
         height: 100%;
        }

        @keyframes scroll-background {
            from {
                background-position-y: 0%;
            }
            to {
                background-position-y: +100%;
            }
        }
        .div1 {
            width: 500px;
            height: 500px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .button1 {
            margin-bottom: 10px;
        }
        .button2 {
            margin-bottom: 10px;
        }
        .button3 {
            margin-bottom: 10px;
        }
        .button4 {
            margin-bottom: 10px;
        }
        .button5 {
            margin-bottom: 4px;
        }
        .level
        {
         width: 25%;
         height:300px;
         position: absolute;
         margin: auto;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         border-radius: 3px;
        }
        h1
        {
         
         /*text-shadow: 5px 3px rgb(0, 255, 42);*/
         top: 20px;
         text-align: center;
         color:#FFA500  ;
         text-decoration-style: wavy;
         padding: 20px;
 
        }
        .container
        {
         
             width: 25%;
             height:300px;
             margin: 0 auto;
             background-color:#FFA500 ;
           
        }